.div .dados-perfil{
    display: flex;
    width: 369px;
    height: 344px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 10px;
    background: var(--neutras-White, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}